.header-parent{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
    background-color: orange;
}

.header-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-parent .title{
    font-size: 48px;
    font-weight: bold;
    width: 70%;
}

.header {
    top: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-desc{
    width: 30%;
}

.header-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 94%;
}